<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>ARP Daemon WEB UI</title>
	<link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.css" />
	<link rel="stylesheet" href="/lib/bootstrap/css/bootstrap-theme.min.css" />
	<link rel="stylesheet" href="/css/main.css" />
</head>
<body onload="on_load_diffs()">
<div class="main-content">
	<div class="container">
		<div class="row text-center">
			<div class="col xs-12">
				<h1>ARP Daemon WEB UI</h1>
			</div>
			<div class="col xs-12">
				<a href="?page=current" class="btn btn-info">Current</a>
				<a href="?page=bio" class="btn btn-info">Bio</a>
				<a href="?page=diffs" class="btn btn-success">Diffs</a>
				<a href="?page=acts" class="btn btn-info">Acts</a>
			</div>
			<div class="col xs-12">
				<div class="alert alert-info">Table of ARP diffs made</div>
			</div>
		</div>
	</div>
	<div class="container" id="arp_current_table">
	</div>
</div>
<noscript>
You should enable JavaScript in your browser to operate.
</noscript>

<script type="text/javascript" src="/lib/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/lib/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
</body>
</html>
